*{
 margin:0;
 padding:0;
}


html,body{
  height:100%;
}


form{
	width: 96%;
	max-width: 600px;
	margin:30px auto; 
	text-align: center;
}

form fieldset{
	padding: 20px 40px;
	border:1px solid #ccc;
    border-radius: 10px;
}

form legend{
	text-align: left;
	font-size: 30px;
	color:rgb(0, 0, 0);
}


form input[type=text]{
	font-family: tahoma;
	display: inline-block;
	margin-top:15px;
	width: 80%;
	padding: 10px 13px;
	border:1px solid #ccc;
    border-radius: 10px;
}


form input[type=text]:focus, form select:focus, form textarea:focus{
	outline: 0;
}


form select{
	font-family: tahoma;
	color:rgb(100,100,100);
	width:calc(80% + 26px);
	margin-top:15px;
	padding: 10px 13px;
	display: inline-block;
	border:1px solid #ccc;
    border-radius: 10px;
	cursor: pointer;
}

/*
form select option[disabled]{
	color:orange;
}
*/

/*
form select option:nth-of-type(3){
	color:red;
}
*/


form h2{
	margin-top:20px;
	color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

.input{
	display: inline-block;
	text-align: left;
	margin-top:20px;
}

.input span{
    margin-left: 13px;
    font-size: 16px;
    color: rgb(27, 27, 27);
}

.input span{
	margin-left: 13px;
	font-size: 16px;
	color: rgb(130,130,130);
}

form textarea{
	font-family: tahoma;
	border: 1px solid #ccc;
	margin-top:30px;
	width: 80%;
	height: 140px;
	padding: 10px 13px;
	resize: none;
}

form input[type=submit]{
	margin-top:30px;
	border:0;
	width: 140px;
	height: 40px;
	font-size: 16px;
	cursor: pointer;
	border:2px solid rgb(0, 0, 0);
	color:black;
	background-color: rgb(140,140,140);
    border-radius: 10px;
}

.doc {
  margin-top: 25px;
  text-align: left;
}

.doc label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

.doc input[type="file"] {
  width: 80%;
}